body {
  background-color: rgb(18, 17, 17);
}

.home {
  font-family: "empiresregular";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  letter-spacing: 1px;
  line-height: 2;
}

h1 {
  background-size: cover;
  color: rgb(171, 18, 18);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  margin: 10px 0;
}

h1 span {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  font-size: 300px;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin: 10px 0;
}
h1 a,
h1 a:hover {
  text-decoration: 2px transparent underline;
  color: rgb(171, 18, 18);
}
