h2 {
  margin: 25px 25px;
  margin-left: 250px;
  color: whitesmoke;
  border-left: 3px solid rgb(171, 18, 18);
  border-bottom: 5px solid rgb(171, 18, 18);
  padding-left: 10px;
}

.transaction {
  color: white;
  margin: 20px;
}

h4 {
  color: rgb(171, 18, 18);
  text-align: center;
}

#id {
  color: rgb(44, 44, 44);
}

p {
  text-align: center;
}
input {
  background-color: rgb(197, 194, 194);
}

.editForm {
  text-align: center;
  color: whitesmoke;
}
#from {
  color: rgb(171, 18, 18);
}

.trans-buttons {
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid rgb(171, 18, 18);
  color: whitesmoke;
}
